turbo-stream action='append' target='notifications'
  template
    - if params[:type].blank?
      = render Shared::Notifications::Simple::Component.new(mode: params[:mode], message: params[:message])
