- if from_current_month?
  - if @day.present?
    button.relative.flex.h-28.md:h-32.flex-col.focus:z-10.group.transition-opacity.duration-300{
      id="day-#{@day.when.day}"
      class="#{today? && !overrided_day? ? 'border(2 secondary-dark dark:primary) text(base dark dark:primary)' : 'text-dark'}"
      data-action=''
      data-tooltip-target="tooltip-#{@day.when}"
      data-tooltip-placement='bottom'
      data-calendar-url-param=calendar_day_path(calendar_id: @calendar_id, date: @date)
    }
      time.ml-auto.p-2.z-10 datetime="#{@date.to_s}"
        = @day.when.day
      .absolute.w-full.h-full{
        class="bg-cover bg-[url('#{url_for(@day.recipe.image)}')]"
      }
      / Color filter for img
      .absolute.w-full.h-full{
        class='bg(secondary/80 hover:secondary/40 dark:alt-dark/50 hover:dark:asset-dark/70)'
      }
      / Text container
      .absolute.w-full.bottom-0.flex.flex-col.opacity-100.pointer-events-none{
        class='bg-asset-dark/20 rounded-t-md backdrop-blur group-hover:hidden'
      }
        .h-full.span.text-xs.break-all.truncate {
          class='px-2 py-1 text(dark:white)'
        }
          = @day.recipe.title
    .tooltip.bg-asset-dark{
      id="tooltip-#{@date}"
      role='tooltip'
    }
      = @day.recipe.title
      .tooltip-arrow { data-popper-arrow }
  - else
    button.transition.duration-300.flex.items-end.h-28.md:h-32.flex-col.px-3.py-2.focus:z-10{
      id="empty-day-#{@date.day}"
      class=no_recipe_style
      data-action='modals--new-day#show day--new#setDate'
      data-day--new-date-param=@date
    }
      .flex.flex-col
        time.text-lg.font-bold.ml-auto datetime="#{@date.to_s}"
          = @date.day
/ Day not belonging to current month
- else
  button.cursor-not-allowed.flex.h-28.md:h-32.flex-col.px-3.py-2.text-gray-500.focus:z-10{
    class='bg(secondary-dark/10 dark:asset-dark/50)'
  }
    time.ml-auto datetime="#{@date.to_s}" = @date.day
