.lg:flex.lg:h-full.lg:flex-col.px-8.py-6 data-controller="modals--day modals--recipe calendar recipe"
  h1.text-4xl.font-bold My calendar
  turbo-frame#calendar.h-max.lg:flex.lg:flex-auto.lg:flex-col.justify-center
    = render 'components/calendars/calendar', override_day: @date != Date.today

  = render 'components/shared/modals/default',
          id: 'dayModal',
          frame_id: 'day-modal',
          close_action: 'modals--day#close',
          size: :large

  = render 'components/shared/modals/isolated',
          id: 'newRecipeModal',
          frame_id: 'new-recipe-modal',
          close_action: 'modals--recipe#close'
